{% extends 'base.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
{% endblock %}

{% block header %}
  {{parent()}}
{% endblock %}

{% block body %}  
    
<header>
    <div class="header-content">
        <div class="header-content-inner navbar-right">
            
            <h2 class="subtitle-main">Design your next vacations,<br> don't make the same mistake twice</h2>                

            <p>It is important to be prepared to enjoy life</p>
            
            <div class="container">
                <div class="row">
                     <form class="form-inline" method="post" action="{{path('get_map')}}">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">                                    
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                                <input type="text" id="search" name="address" class="form-control big-input" placeholder="Search where (Ex. Varadero, Cuba)" autocomplete="on">
                            </div>    
                            <input type="submit" class="btn btn-primary btn-xl page-scroll" value="Enjoy start Here">
                        </div>    
                    </form>              
            
                </div>
            </div>        
              
        </div>			
    </div>   
    
    
</header>
    
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function(){
            var search = $("#search").on('click', activatePlacesSearch());
        });
        function activatePlacesSearch(){
            var search = $('#search')[0];
            //var search = document.getElementById('search');           
            
            var autocomplete = new google.maps.places.Autocomplete(search);
            
        }
        
        
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMU2tT8eIQoiWOGJdu-RamLB2pVXv9qpk&libraries=places&callback=activatePlacesSearch"></script>\
    

    

{% endblock %}

