{% extends 'base.html.twig' %}

{% block header %}
  {{parent()}}
{% endblock %}


{% block body %}  

<header>
    <div class="header-content">
        <div class="header-content-inner navbar-right">
            <h1 id="homeHeading" class="text-responsive title">Roommer</h1>
            <h3 class="subtitle-main">Design your next vacations, don't make the same mistake twice</h3>                

            <p class="opacity-70">It is important to be prepared to enjoy life</p>
            <a href="getstarted.php" class="btn btn-primary btn-xl page-scroll">Enjoy start Here</a>
        </div>			
    </div>		
</header>	    
        

{% endblock %}
